* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}
h1 {
  color: #444;
  margin-bottom: 20px;
}
#todo-form {
  margin-bottom: 20px;
}

#todo-input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#todo-form button {
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
#todo-form button:hover {
  background-color: #218838;
}
#todo-list {
  list-style: none;
}
#todo-list li {
  background: white;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}
#todo-list li:nth-child(odd) {
  background: #f9f9f9;
}
#todo-list li:hover {
  background: #e9e9e9;
}
